body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01)0 0 1px;
  text-shadow: rgba(0,0,0,.01)0 0 1px;
}
a {
  color: #333;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
  color: #333;
}
a:focus {
  outline: none;
  outline-offset: 0px;
}
.container {
  width: 100%;
}
#navbar_container {
  display: table;
  position: relative;
  height: auto;
  min-height: 80px;
  text-align: center;
}
#navbar_row {
  display: table-cell;
  vertical-align: middle;
}
#menu {
  z-index: 1;
  height: inherit;
  padding: 20px 0;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  margin-right: 10px;
}
#breadcrumb {
  z-index: 2;
  height: inherit;
  float: left;
  padding: 20px 0;
}
#login {
  height: inherit;
  float: left;
  padding: 20px 0;
}
#login a span {
  color: #333;
  border: 2px solid lightblue;
  border-radius: 50px;
  padding: 11px 20px;
  -webkit-transition: all .6s ease 0s;
  -moz-transition: all .6s ease 0s;
  -ms-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}
#login span:hover {
  background-color: lightblue;
  color: #fff;
  -webkit-transition: all .6s ease 0s;
  -moz-transition: all .6s ease 0s;
  -ms-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}
#header {
  display: table;
  z-index: -1;
  position: relative;
  height: auto;
  height: 300px;
  /*background-color: #fff;*/
}
.header_title {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.header_title h1 {
  margin-top: 10px;
}
#one_page_content {
  display: table;
  height: auto;
  height: 600px;
  background-color: #f5f5f5;
  table-layout: fixed;
}
.one_page_post {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.post_date {
  color: #aeaeae;
  font-size: 0.8em;
}
.post_title {
  color: #434343;
  font-size: x-large;
  padding: 5px 25% 20px 25%;
}
.img-responsive {
  display: inline !important;
  width: auto;
  max-width: 100%;
}
.post_excerpt {
  padding: 30px 25%;
}
.post_dots {
  font-size: 2em;
  color: #aeaeae;
}
.handmade-submit {
  background-color: lightblue;
  color: #fff;
  border: 2px solid lightblue;
  border-radius: 50px;
  padding: 6px 20px;
  -webkit-transition: all .6s ease 0s;
  -moz-transition: all .6s ease 0s;
  -ms-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}
.handmade-submit:focus {
  outline: none;
  outline-offset: 0px;
}
.form-inline {
  text-align: center;
}
.modal-content {
  border-radius: 0;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-body {
  padding: 10px 15px;
}
.modal-footer {
  text-align: center;
}
.form-inline .input-group {
  display: table;
}
.input-group {
  margin: 20px 0px 0px 0px;
}
.input-group-addon {
  color: #fff;
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 0;
}
.form-control {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
}
#older_container {
  display: table;
  height: auto;
  min-height: 100px;
  background-color: #f5f5f5;
  table-layout: fixed;
  padding-bottom: 150px;
}
#older_container a span {
  color: #333;
  border: 2px solid #aeaeae;
  border-radius: 50px;
  padding: 11px 30px;
  -webkit-transition: all .6s ease 0s;
  -moz-transition: all .6s ease 0s;
  -ms-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
}
#older_content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#sidebar-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: auto;
  min-height: 140px;
  margin-left: -220px;
  overflow-y: auto;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper.active {
  background-color: #fff;
  left: 220px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  padding-top: 30px;
}
.sidebar-nav li {
  padding-bottom: 10px;
  font-size: 1em;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: lightblue;
  background: rgba(255,255,255,0.2);
}
/*
 *
 * Media Queries
 *
 */
@media (max-width: 767px) {
  .post_title {
    font-size: medium;
    padding: 5px 25% 20px 25%;
  }
  .post_excerpt {
    padding: 30px 10%;
  }
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
